[main]
	simulationtypes=umbsamp,findtraj,tpsv,tpsp 		!all simulation types that we have defined in this file
	simulationconfigfilename=simulation.config		!the config files to look for in the path the user specifies
	topologypath=/data/isp/MATLAB/definitions/top_all27_prot_na.inp
	parameterpath=/data/isp/MATLAB/definitions/par_all27_prot_na.inp
            quantumtype=None
            crystaltype=None

[generatedvars]

[umbsamp]
	templatefilepath=umbsamp.inp   !the input file path
	simulationdirectoryname=umbsamp 	!the directory to where the umbrella sampling scripts should be written to
	rxncoordefinitionfilepath=prep/rxncoor.def	!the name of the reaction coordinate definition file
	charmmscriptname=umbsamp.inp

[umbsamp_productiondynamics]
            organizefiles=1
    crdwritename=dyna_final.crd
	binarywritename_positions=production.dcd 	!the file name to write the dcd to
	binarywritename_velocity=production.vel 	!the file name to write the vel to
	formattedreadname_restart=equilibrated.res      !the file name to read the equilibration file from
	header_dynamicstype=langevin 	!dynamics type
	header_startpoint=restart 	!dynamics start point
	parameter_nstep=50000 	!number of integration steps to perform
	parameter_timestp=0.001 	!integration time step
	parameter_nprint=10 		!frequency with which to print the energy
	parameter_iuncrd=41 		!the unit for writing coordinates
	parameter_iunvel=42 		!the unit for writing velocities
	parameter_nsavc=100 		!frequency of writing coordinates
	parameter_nsavv=100 		!frequency of writing velocities
	parameter_tbath=298 		!the temperature of the bath
	parameter_iseed=@genrandomnumber			!the random number seed



[umbsamp_ratchetdynamics]
	.inherit1=umbsamp_productiondynamics
	formattedreadname_restart=ratchet.res      !the file name to read the equilibration restart file from
	formattedwritename_restart=ratchet.res      !the file name to write the equilibration restart file to
	header_startpoint=start 	!dynamics start point
	binarywritename_positions=equil.dcd 	!the file name to write the dcd to
	binarywritename_velocity=equil.vel 	!the file name to write the vel to
	parameter_nstep=250 				!number of integration steps to perform
	parameter_nsavc=-1                 !don't write coordinates
	parameter_nsavv=-1 		!don't write velocities
	parameter_isvfrq=250		!write a restart file every 250 steps
	ratchetinggradient=0.20 	!the gradient for ratcheting the umbrella centers
	parameter_iunrea=31			!read from unit 31 for restart file
	parameter_iunwri=32			!write to unit 32 for restart file

[findtraj]



[tpsv]



[tpsp]


[randomseed]


